body {
  font-family: Fira Sans, sans-serif;
}
.mono {
  font-family: monospace;
  font-size: 14px;
}
h1, h2 {
  font-weight: normal;
  margin: 0;
}
#content {
  background: #444;
  border-radius: 20px 0;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .3);
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  color: #eee;
  border-top: 3px solid #54a3d8;
  border-bottom: 3px solid #54a3d8;
  transition: all 1s;
}
pre {
  font-family: monospace;
}
.left {
  text-align: left;
}
body {
  background: #333;
  padding: 0 50px;
  transition: all 1s;
}
a {
  text-decoration: none;
  color: yellow;
}
table {
  border-collapse: collapse;
}
hr {
  border: 1px solid #aaa;
}
.page {
  margin-bottom: 0;
  text-align: justify;
}
.buttonlist {
  list-style-type: none;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buttonlist li {
  padding: 5px 10px;
  border-radius: 5px;
  transition: .1s;
  cursor: pointer;
}
.buttonlist li::before {
  content: "» ";
}
.buttonlist li:active {
  background: #222;
  color: #54a3d8;
  filter: none;
}
@media screen and (max-width: 820px) {
  body {
    padding: 0;
    background: #444;
  }
  #content {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
